openapi: 3.0.0
info:
  title: Bid Check Account Link API
  version: 1.0.0
  description: 'Use Bid Check during the click redirect flow to request a real-time bid from Sovrn for a destination URL. When Sovrn can monetize the click, Bid Check returns a redirect URL that you can use to redirect the user.


    Partners typically use Bid Check when comparing offers from multiple affiliate networks in real time. After receiving Sovrn''s bid, you can decide whether to route the click through Sovrn or through another network.


    For CPC bids, the returned `eepc` is the rate you can earn by routing the click through Sovrn before the bid expires. Sovrn''s revenue share has already been deducted from this value. For CPA offers, `eepc` is the average amount Sovrn expects you to earn per click and is not guaranteed for an individual click.


    **Note on URL encoding:** query parameter values, especially `out`, `userAgent`, `referrerUrl`, `subId`, and tracking values that contain spaces or reserved characters, must be URL-encoded when constructing the request. The `example` values below show the raw decoded form; your HTTP client or the ReadMe "Try It" panel will encode them automatically.

    '
  x-source: https://developer.sovrn.com/llms.txt (per-endpoint OpenAPI definitions, harvested 2026-07-21)
servers:
- url: https://api.viglink.com
  description: Production
tags:
- name: Link
paths:
  /link/:
    get:
      summary: Link check API
      description: Get information on whether a specific URL can be monetized
      operationId: link
      parameters:
      - name: out
        in: query
        description: The URL to be tested for monetization
        required: true
        schema:
          type: string
      - name: key
        in: query
        description: Commerce Api Key. This is found by logging into your account at https://commerce.sovrn.com and navigating to Sites. The API key field for the domain you wish to use should be entered here.
        required: true
        schema:
          type: string
      - name: optimize
        in: query
        description: Option on if the link can be optimized
        schema:
          type: boolean
          default: true
      - name: format
        in: query
        description: We should always use `json`
        schema:
          type: string
      - name: geo
        in: query
        description: Country code that can be passed in for affiliation testing
        schema:
          type: string
      - name: fbu
        in: query
        description: Fallback url to go if out url can't beat the bid floor
        schema:
          type: string
      - name: bf
        in: query
        description: Bid floor for the fallback url
        schema:
          type: string
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"url\": \"https://www.walmart.com/ip/105218827\",\n    \"optimized\": \"https://redirect.viglink.com?key={YOUR API KEY&u=https%3A%2F%2Fwww.walmart.com%2Fip%2F105218827&prodOvrd=RAL\",\n    \"affiliatable\": false,\n    \"competitive\": null,\n    \"optimizable\": null,\n    \"eepc\": 0.0702\n}"
              schema:
                type: object
                properties:
                  url:
                    type: string
                    example: https://www.walmart.com/ip/105218827
                  optimized:
                    type: string
                    example: https://redirect.viglink.com?key={YOUR API KEY&u=https%3A%2F%2Fwww.walmart.com%2Fip%2F105218827&prodOvrd=RAL
                  affiliatable:
                    type: boolean
                    example: false
                    default: true
                  competitive: {}
                  optimizable: {}
                  eepc:
                    type: number
                    example: 0.0702
                    default: 0
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n    \"status\": 400,\n    \"message\": \"Parameter 'key' is required.\",\n    \"error\": \"Bad Request\",\n    \"exception\": \"com.viglink.common.exception.ValidationException\",\n    \"timestamp\": 1608665790151\n}"
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 400
                    default: 0
                  message:
                    type: string
                    example: Parameter 'key' is required.
                  error:
                    type: string
                    example: Bad Request
                  exception:
                    type: string
                    example: com.viglink.common.exception.ValidationException
                  timestamp:
                    type: integer
                    example: 1608665790151
                    default: 0
      deprecated: false
      tags:
      - Link
